* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  margin: 50px 150px;
}

.logo a {
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
  color: #2cc5c5;
  font-weight: 700;
}

.logo a span {
  color: red;
}
.list-items ul {
  margin-left: 200px;
}

.list-items ul li {
  list-style-type: none;
  display: inline-block;
  margin: 15px 15px;
  font-size: 25px;
}
.images h1 {
  text-align: center;
  font-size: 50px;
  color: wheat;
}
.images {
  width: 100%;
  height: 500px;
  background-image: url(../images/img_8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about h2 {
  text-align: center;
  font-size: 40px;
  color: #e66c4a;
  margin: 30px 0;
}

.about p {
  text-align: center;
  color: cornflowerblue;
  font-size: 25px;
}
