* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

nav ul {
  display: flex;
  align-items: center;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  padding: 18px 35px;
  background-color: #fd6e0a;
  color: #fff;
}

/* banner style */

.banner {
  margin: 0 200px;
  align-items: center;
  display: flex;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-desc {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

.btn-secondary {
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 30px;
  border: 1px solid #fd6e0a;
  padding: 18px 25px;
  color: #fd6e0a;
}
