* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* header styles  */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.text-primary {
  color: #fd6e0a;
}

nav ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
}
.btn-primary {
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  padding: 18px 35px;
  background-color: #fd6e0a;
  color: #fff;
}

/* banner style */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-desc {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

.btn-secondary {
  width: 150px;
  height: 64px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 30px;
}
